/* Custom fonts */
@font-face {
    font-family: 'Berolina';
    src: url(font/Berolina.ttf);
}
@font-face {
    font-family: 'Copper plate Bold';
    src: url(font/CopperplateCC-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Copper plate Heavy';
    src: url(font/CopperplateCC-Bold.otf);
    font-weight: bolder;
}

@font-face {
    font-family: 'Indira_K';
    src: url(font/Indira_K.ttf);
}

@font-face {
    font-family: 'Scarbes';
    src: url(font/Scarbes.otf);
}

@font-face {
    font-family: 'Showtime';
    src: url(font/Showtime-R9Ke.ttf);
}
@font-face {
    font-family: 'VentroDemo';
    src: url(font/VentroDemo-JpdXK.otf);
}
@font-face {
    font-family: 'VictoriaCAT';
    src: url(font/VictoriaCAT.ttf);
}
@font-face {
    font-family: 'Fascinate Inline';
    src: url(font/FascinateInline-Regular.ttf);
}

@font-face {
    font-family: "Sail";
    src: url(font/Sail-Regular.ttf);
}

@font-face {
    font-family: 'Oldenburg';
    src: url(font/Oldenburg-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Slab';
    src: url(font/JosefinSlab-VariableFont_wght.ttf);
}
:root {
    --amber: #c0971d;
    --white: #fff;
    --borderbottom: #b08d00;


}




body {
/* background: var(--white); */
/* background: linear-gradient(177deg,rgba(0, 0, 0, 1) 0%, rgba(192, 151, 29, 1) 50%, rgba(176, 141, 0, 1) 100%); */
background: #000000;
/* background: linear-gradient(180deg,rgba(0, 0, 0, 1) 15%, rgba(192, 151, 29, 1) 50%, rgba(176, 141, 0, 1) 100%); */
background-color: #faf3e6;
width: 85%;
margin: auto;

}


/* Typography */
p {
    font-family: 'Alice', sans-serif;
    font-weight: bold;
    font-size: 1.2em;

}

h3 {
  font-family: 'Fascinate Inline', sans-serif;      
  font-size: 1.7rem;
  border-bottom-color: var(--borderbottom);
  border-bottom-style: double;
  border-bottom-width: 4px;
  
}





.summary p {
    font-family: 'Sail';
    font-weight: 400;
    font-size: 1.5em;
    color: var(--amber);
}
.summary {
    display: inline-block;
    position: relative;
    margin: auto; 
    width: 35%;
    text-align: center;
    background-color: var(--white);
    border-radius: 8px;
    margin-right: 4vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.preamble {
    display: inline-block;
    width: 50%;
}

.preamble h3 {
    text-align: center;
}


header div {
    background-color: white;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/blank_Intertitle.png");
  min-height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 85%;
  display: flex;      
  flex-direction: column;       
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  padding: 20px;   
  margin: 40px auto 0;
  font-family: 'Fascinate Inline', sans-serif; 
  font-size: 1.3em;     
  border-radius: 15px;    
  width: 100vh;
  min-height: 50vh;
  background-color: black;
}
header div.hero-image {
    padding-bottom: 20px;
}

header h1, h2 {
  position: static;
  transform: none;
  color: white;
}


@media (max-width: 960px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    header {
        width: 100%;
        font-size: 1.1em;
    }

    .summary {
        margin-top: 20px;
        width: 85%;
    }

    .preamble {
        width: 85%;
        text-align: center;
        margin: auto;
    }

    .explanation {
        background-image: url(images/charliechap-transparent.png);
        background-size: 200px 350px;
        background-repeat: no-repeat;
        background-position: 98% 100%;

    }

    .explanation p {
        width: 70%;
        margin-top: 20;
    }
}